UserScript/Connected Services/Service/APAS.ServiceContract.Wcf.Responses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/APAS.ServiceContract.Wcf.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/APAS.ServiceContract.Wcf.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReadPresetPositionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbsPosition" type="xs:double" />
      <xs:element minOccurs="0" name="Axis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAbsMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMovable" type="xs:boolean" />
      <xs:element minOccurs="0" name="LMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelPosition" type="xs:double" />
      <xs:element minOccurs="0" name="Speed" type="xs:double" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadPresetPositionResponse" nillable="true" type="tns:ReadPresetPositionResponse" />
  <xs:complexType name="AxisStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbsPosition" type="xs:double" />
      <xs:element minOccurs="0" name="Axis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsBusy" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHomed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lmu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RelPosition" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AxisStatusResponse" nillable="true" type="tns:AxisStatusResponse" />
  <xs:complexType name="ArrayOfAxisStatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AxisStatusResponse" nillable="true" type="tns:AxisStatusResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAxisStatusResponse" nillable="true" type="tns:ArrayOfAxisStatusResponse" />
  <xs:complexType name="AlignmentAreaScanResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AxisHorizontal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AxisVeritcal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeakPositionHorizontal" type="xs:double" />
      <xs:element minOccurs="0" name="PeakPositionVeritcal" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlignmentAreaScanResponse" nillable="true" type="tns:AlignmentAreaScanResponse" />
  <xs:complexType name="AlignmentNdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alignment1DResponseCollection" nillable="true" type="tns:ArrayOfAlignment1DResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlignmentNdResponse" nillable="true" type="tns:AlignmentNdResponse" />
  <xs:complexType name="ArrayOfAlignment1DResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alignment1DResponse" nillable="true" type="tns:Alignment1DResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlignment1DResponse" nillable="true" type="tns:ArrayOfAlignment1DResponse" />
  <xs:complexType name="Alignment1DResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Axis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeakPosition" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alignment1DResponse" nillable="true" type="tns:Alignment1DResponse" />
  <xs:complexType name="AlignmentAngleTuningResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AxisLinear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AxisRotating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeakPosition1" type="xs:double" />
      <xs:element minOccurs="0" name="PeakPosition2" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue1" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue2" type="xs:double" />
      <xs:element minOccurs="0" name="PredictedAngle" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlignmentAngleTuningResponse" nillable="true" type="tns:AlignmentAngleTuningResponse" />
  <xs:complexType name="AlignmentCentralAlignResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Axis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeakPosition1" type="xs:double" />
      <xs:element minOccurs="0" name="PeakPosition2" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue1" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlignmentCentralAlignResponse" nillable="true" type="tns:AlignmentCentralAlignResponse" />
</xs:schema>