UserScript/Connected Services/Service/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SystemServiceRemoteApisWrapper" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISystemService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/APAS.ServiceContract.Wcf" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/APAS.ServiceContract.Wcf.Responses" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISystemService___SSC_Powermeter_ZeroOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_ZeroOutput" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_ZeroOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_ZeroOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_Read" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_LogInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_LogInfo" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_LogInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_LogInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_LogError_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_LogError" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_LogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_LogErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_LogWarn_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_LogWarn" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_LogWarn_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_LogWarnResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ShowMessageBox_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ShowMessageBox" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ShowMessageBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ShowMessageBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ShowWarningMessageBox_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ShowWarningMessageBox" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ShowWarningMessageBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ShowWarningMessageBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ShowErrorMessageBox_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ShowErrorMessageBox" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ShowErrorMessageBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ShowErrorMessageBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ShowYesNoMessageBox_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ShowYesNoMessageBox" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ShowYesNoMessageBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ShowYesNoMessageBoxResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ShowImage_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ShowImage" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ShowImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ShowImageResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ChangeSignalTowerLight_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ChangeSignalTowerLight" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ChangeSignalTowerLight_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ChangeSignalTowerLightResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_TurnOffSignalTowerBuzzer_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_TurnOffSignalTowerBuzzer" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_TurnOffSignalTowerBuzzer_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_TurnOffSignalTowerBuzzerResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Connect" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Disconnect" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_WriteVariable_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_WriteVariable" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_WriteVariable_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_WriteVariableResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ReadVariable_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ReadVariable" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ReadVariable_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ReadVariableResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_SavePosition_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_SavePosition" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_SavePosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_SavePositionResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ReadPresetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ReadPresetPosition" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ReadPresetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ReadPresetPositionResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_SequenceStop_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_SequenceStop" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_SequenceStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_SequenceStopResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetLMUList_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetLMUList" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetLMUList_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetLMUListResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetAxisList_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetAxisList" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetAxisList_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetAxisListResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetAxisListInLMU_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetAxisListInLMU" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetAxisListInLMU_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetAxisListInLMUResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetMEQList_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetMEQList" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetMEQList_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetMEQListResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Home_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Home" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Home_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_HomeResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_MeasurableDevice_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_MeasurableDevice_Read" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_MeasurableDevice_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_MeasurableDevice_ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_MoveAxis_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_MoveAxis" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_MoveAxis_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_MoveAxisResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_MoveToPresetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_MoveToPresetPosition" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_MoveToPresetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_MoveToPresetPositionResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_UpdatePresetPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_UpdatePresetPosition" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_UpdatePresetPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_UpdatePresetPositionResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetAbsPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetAbsPosition" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetAbsPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetAbsPositionResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetRelPosition_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetRelPosition" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetRelPosition_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetRelPositionResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ServoOn_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ServoOn" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ServoOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ServoOnResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ServoOff_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ServoOff" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ServoOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ServoOffResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ResetAxisFault_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ResetAxisFault" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ResetAxisFault_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ResetAxisFaultResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_MotionStop_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_MotionStop" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_MotionStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_MotionStopResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_EmergencyStop_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_EmergencyStop" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_EmergencyStop_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_EmergencyStopResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetAxisStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetAxisStatus" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetAxisStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetAxisStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetLmuStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetLmuStatus" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_GetLmuStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_GetLmuStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_AutoTouchByMEQ_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_AutoTouchByMEQ" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_AutoTouchByMEQ_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_AutoTouchByMEQResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_AutoTouchByAin_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_AutoTouchByAin" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_AutoTouchByAin_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_AutoTouchByAinResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_AutoTouchByDin_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_AutoTouchByDin" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_AutoTouchByDin_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_AutoTouchByDinResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_CommonPluginExecute_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_CommonPluginExecute" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_CommonPluginExecute_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_CommonPluginExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_EquipmentPluginControl_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_EquipmentPluginControl" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_EquipmentPluginControl_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_EquipmentPluginControlResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_EquipmentPluginExecute_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_EquipmentPluginExecute" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_EquipmentPluginExecute_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_EquipmentPluginExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_EquipmentPluginWait_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_EquipmentPluginWait" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_EquipmentPluginWait_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_EquipmentPluginWaitResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ReadDI_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ReadDI" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ReadDI_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ReadDIResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ReadDO_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ReadDO" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_ReadDO_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_ReadDOResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_WriteDO_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_WriteDO" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_WriteDO_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_WriteDOResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_WaitDI_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_WaitDI" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_WaitDI_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_WaitDIResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoBlindSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoBlindSearch" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoBlindSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoBlindSearchResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoBlindSearchWithParam_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoBlindSearchWithParam" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoBlindSearchWithParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoBlindSearchWithParamResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoRectAreaScan_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoRectAreaScan" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoRectAreaScan_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoRectAreaScanResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoSlowRectAreaScan_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoSlowRectAreaScan" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoSlowRectAreaScan_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoSlowRectAreaScanResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoFast1D_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoFast1D" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoFast1D_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoFast1DResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoFastND_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoFastND" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoFastND_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoFastNDResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoFastAngleTuning_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoFastAngleTuning" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoFastAngleTuning_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoFastAngleTuningResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoFastCentralAlign_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoFastCentralAlign" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoFastCentralAlign_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoFastCentralAlignResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoFastAngleTuningWithParam_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoFastAngleTuningWithParam" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoFastAngleTuningWithParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoFastAngleTuningWithParamResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoProfile1D_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoProfile1D" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoProfile1D_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoProfile1DResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoProfileND_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoProfileND" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoProfileND_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoProfileNDResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoAngleTuning_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoAngleTuning" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoAngleTuning_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoAngleTuningResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoCentralAlign_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoCentralAlign" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoCentralAlign_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoCentralAlignResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoHillClimb_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoHillClimb" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_DoHillClimb_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_DoHillClimbResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_SetUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_SetUnit" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_SetUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_SetUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_GetUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_GetUnit" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_GetUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_GetUnitResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_SetRange_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_SetRange" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_SetRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_SetRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_GetRange_InputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_GetRange" />
  </wsdl:message>
  <wsdl:message name="ISystemService___SSC_Powermeter_GetRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:__SSC_Powermeter_GetRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISystemService">
    <wsdl:operation name="__SSC_Powermeter_ZeroOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_ZeroOutput" message="tns:ISystemService___SSC_Powermeter_ZeroOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_ZeroOutputResponse" message="tns:ISystemService___SSC_Powermeter_ZeroOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_Powermeter_Read">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_Read" message="tns:ISystemService___SSC_Powermeter_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_ReadResponse" message="tns:ISystemService___SSC_Powermeter_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_LogInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_LogInfo" message="tns:ISystemService___SSC_LogInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_LogInfoResponse" message="tns:ISystemService___SSC_LogInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_LogError">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_LogError" message="tns:ISystemService___SSC_LogError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_LogErrorResponse" message="tns:ISystemService___SSC_LogError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_LogWarn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_LogWarn" message="tns:ISystemService___SSC_LogWarn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_LogWarnResponse" message="tns:ISystemService___SSC_LogWarn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ShowMessageBox">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ShowMessageBox" message="tns:ISystemService___SSC_ShowMessageBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ShowMessageBoxResponse" message="tns:ISystemService___SSC_ShowMessageBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ShowWarningMessageBox">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ShowWarningMessageBox" message="tns:ISystemService___SSC_ShowWarningMessageBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ShowWarningMessageBoxResponse" message="tns:ISystemService___SSC_ShowWarningMessageBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ShowErrorMessageBox">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ShowErrorMessageBox" message="tns:ISystemService___SSC_ShowErrorMessageBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ShowErrorMessageBoxResponse" message="tns:ISystemService___SSC_ShowErrorMessageBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ShowYesNoMessageBox">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ShowYesNoMessageBox" message="tns:ISystemService___SSC_ShowYesNoMessageBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ShowYesNoMessageBoxResponse" message="tns:ISystemService___SSC_ShowYesNoMessageBox_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ShowImage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ShowImage" message="tns:ISystemService___SSC_ShowImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ShowImageResponse" message="tns:ISystemService___SSC_ShowImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ChangeSignalTowerLight">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ChangeSignalTowerLight" message="tns:ISystemService___SSC_ChangeSignalTowerLight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ChangeSignalTowerLightResponse" message="tns:ISystemService___SSC_ChangeSignalTowerLight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_TurnOffSignalTowerBuzzer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_TurnOffSignalTowerBuzzer" message="tns:ISystemService___SSC_TurnOffSignalTowerBuzzer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_TurnOffSignalTowerBuzzerResponse" message="tns:ISystemService___SSC_TurnOffSignalTowerBuzzer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_Connect" message="tns:ISystemService___SSC_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ConnectResponse" message="tns:ISystemService___SSC_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_Disconnect" message="tns:ISystemService___SSC_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DisconnectResponse" message="tns:ISystemService___SSC_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_WriteVariable">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_WriteVariable" message="tns:ISystemService___SSC_WriteVariable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_WriteVariableResponse" message="tns:ISystemService___SSC_WriteVariable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ReadVariable">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ReadVariable" message="tns:ISystemService___SSC_ReadVariable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ReadVariableResponse" message="tns:ISystemService___SSC_ReadVariable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_SavePosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_SavePosition" message="tns:ISystemService___SSC_SavePosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_SavePositionResponse" message="tns:ISystemService___SSC_SavePosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ReadPresetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ReadPresetPosition" message="tns:ISystemService___SSC_ReadPresetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ReadPresetPositionResponse" message="tns:ISystemService___SSC_ReadPresetPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_SequenceStop">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_SequenceStop" message="tns:ISystemService___SSC_SequenceStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_SequenceStopResponse" message="tns:ISystemService___SSC_SequenceStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetLMUList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetLMUList" message="tns:ISystemService___SSC_GetLMUList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetLMUListResponse" message="tns:ISystemService___SSC_GetLMUList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetAxisList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetAxisList" message="tns:ISystemService___SSC_GetAxisList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetAxisListResponse" message="tns:ISystemService___SSC_GetAxisList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetAxisListInLMU">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetAxisListInLMU" message="tns:ISystemService___SSC_GetAxisListInLMU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetAxisListInLMUResponse" message="tns:ISystemService___SSC_GetAxisListInLMU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetMEQList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetMEQList" message="tns:ISystemService___SSC_GetMEQList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetMEQListResponse" message="tns:ISystemService___SSC_GetMEQList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_Home">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_Home" message="tns:ISystemService___SSC_Home_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_HomeResponse" message="tns:ISystemService___SSC_Home_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_MeasurableDevice_Read">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_MeasurableDevice_Read" message="tns:ISystemService___SSC_MeasurableDevice_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_MeasurableDevice_ReadResponse" message="tns:ISystemService___SSC_MeasurableDevice_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_MoveAxis">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_MoveAxis" message="tns:ISystemService___SSC_MoveAxis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_MoveAxisResponse" message="tns:ISystemService___SSC_MoveAxis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_MoveToPresetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_MoveToPresetPosition" message="tns:ISystemService___SSC_MoveToPresetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_MoveToPresetPositionResponse" message="tns:ISystemService___SSC_MoveToPresetPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_UpdatePresetPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_UpdatePresetPosition" message="tns:ISystemService___SSC_UpdatePresetPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_UpdatePresetPositionResponse" message="tns:ISystemService___SSC_UpdatePresetPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetAbsPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetAbsPosition" message="tns:ISystemService___SSC_GetAbsPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetAbsPositionResponse" message="tns:ISystemService___SSC_GetAbsPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetRelPosition">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetRelPosition" message="tns:ISystemService___SSC_GetRelPosition_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetRelPositionResponse" message="tns:ISystemService___SSC_GetRelPosition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ServoOn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ServoOn" message="tns:ISystemService___SSC_ServoOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ServoOnResponse" message="tns:ISystemService___SSC_ServoOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ServoOff">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ServoOff" message="tns:ISystemService___SSC_ServoOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ServoOffResponse" message="tns:ISystemService___SSC_ServoOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ResetAxisFault">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ResetAxisFault" message="tns:ISystemService___SSC_ResetAxisFault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ResetAxisFaultResponse" message="tns:ISystemService___SSC_ResetAxisFault_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_MotionStop">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_MotionStop" message="tns:ISystemService___SSC_MotionStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_MotionStopResponse" message="tns:ISystemService___SSC_MotionStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_EmergencyStop">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_EmergencyStop" message="tns:ISystemService___SSC_EmergencyStop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_EmergencyStopResponse" message="tns:ISystemService___SSC_EmergencyStop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetAxisStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetAxisStatus" message="tns:ISystemService___SSC_GetAxisStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetAxisStatusResponse" message="tns:ISystemService___SSC_GetAxisStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetLmuStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetLmuStatus" message="tns:ISystemService___SSC_GetLmuStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_GetLmuStatusResponse" message="tns:ISystemService___SSC_GetLmuStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_AutoTouchByMEQ">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_AutoTouchByMEQ" message="tns:ISystemService___SSC_AutoTouchByMEQ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_AutoTouchByMEQResponse" message="tns:ISystemService___SSC_AutoTouchByMEQ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_AutoTouchByAin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_AutoTouchByAin" message="tns:ISystemService___SSC_AutoTouchByAin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_AutoTouchByAinResponse" message="tns:ISystemService___SSC_AutoTouchByAin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_AutoTouchByDin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_AutoTouchByDin" message="tns:ISystemService___SSC_AutoTouchByDin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_AutoTouchByDinResponse" message="tns:ISystemService___SSC_AutoTouchByDin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_CommonPluginExecute">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_CommonPluginExecute" message="tns:ISystemService___SSC_CommonPluginExecute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_CommonPluginExecuteResponse" message="tns:ISystemService___SSC_CommonPluginExecute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_EquipmentPluginControl">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_EquipmentPluginControl" message="tns:ISystemService___SSC_EquipmentPluginControl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_EquipmentPluginControlResponse" message="tns:ISystemService___SSC_EquipmentPluginControl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_EquipmentPluginExecute">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_EquipmentPluginExecute" message="tns:ISystemService___SSC_EquipmentPluginExecute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_EquipmentPluginExecuteResponse" message="tns:ISystemService___SSC_EquipmentPluginExecute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_EquipmentPluginWait">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_EquipmentPluginWait" message="tns:ISystemService___SSC_EquipmentPluginWait_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_EquipmentPluginWaitResponse" message="tns:ISystemService___SSC_EquipmentPluginWait_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ReadDI">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ReadDI" message="tns:ISystemService___SSC_ReadDI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ReadDIResponse" message="tns:ISystemService___SSC_ReadDI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_ReadDO">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_ReadDO" message="tns:ISystemService___SSC_ReadDO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_ReadDOResponse" message="tns:ISystemService___SSC_ReadDO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_WriteDO">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_WriteDO" message="tns:ISystemService___SSC_WriteDO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_WriteDOResponse" message="tns:ISystemService___SSC_WriteDO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_WaitDI">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_WaitDI" message="tns:ISystemService___SSC_WaitDI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_WaitDIResponse" message="tns:ISystemService___SSC_WaitDI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoBlindSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoBlindSearch" message="tns:ISystemService___SSC_DoBlindSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoBlindSearchResponse" message="tns:ISystemService___SSC_DoBlindSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoBlindSearchWithParam">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoBlindSearchWithParam" message="tns:ISystemService___SSC_DoBlindSearchWithParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoBlindSearchWithParamResponse" message="tns:ISystemService___SSC_DoBlindSearchWithParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoRectAreaScan">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoRectAreaScan" message="tns:ISystemService___SSC_DoRectAreaScan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoRectAreaScanResponse" message="tns:ISystemService___SSC_DoRectAreaScan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoSlowRectAreaScan">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoSlowRectAreaScan" message="tns:ISystemService___SSC_DoSlowRectAreaScan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoSlowRectAreaScanResponse" message="tns:ISystemService___SSC_DoSlowRectAreaScan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoFast1D">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoFast1D" message="tns:ISystemService___SSC_DoFast1D_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoFast1DResponse" message="tns:ISystemService___SSC_DoFast1D_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoFastND">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoFastND" message="tns:ISystemService___SSC_DoFastND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoFastNDResponse" message="tns:ISystemService___SSC_DoFastND_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoFastAngleTuning">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoFastAngleTuning" message="tns:ISystemService___SSC_DoFastAngleTuning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoFastAngleTuningResponse" message="tns:ISystemService___SSC_DoFastAngleTuning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoFastCentralAlign">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoFastCentralAlign" message="tns:ISystemService___SSC_DoFastCentralAlign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoFastCentralAlignResponse" message="tns:ISystemService___SSC_DoFastCentralAlign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoFastAngleTuningWithParam">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoFastAngleTuningWithParam" message="tns:ISystemService___SSC_DoFastAngleTuningWithParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoFastAngleTuningWithParamResponse" message="tns:ISystemService___SSC_DoFastAngleTuningWithParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoProfile1D">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoProfile1D" message="tns:ISystemService___SSC_DoProfile1D_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoProfile1DResponse" message="tns:ISystemService___SSC_DoProfile1D_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoProfileND">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoProfileND" message="tns:ISystemService___SSC_DoProfileND_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoProfileNDResponse" message="tns:ISystemService___SSC_DoProfileND_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoAngleTuning">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoAngleTuning" message="tns:ISystemService___SSC_DoAngleTuning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoAngleTuningResponse" message="tns:ISystemService___SSC_DoAngleTuning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoCentralAlign">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoCentralAlign" message="tns:ISystemService___SSC_DoCentralAlign_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoCentralAlignResponse" message="tns:ISystemService___SSC_DoCentralAlign_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoHillClimb">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoHillClimb" message="tns:ISystemService___SSC_DoHillClimb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_DoHillClimbResponse" message="tns:ISystemService___SSC_DoHillClimb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_Powermeter_SetUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_SetUnit" message="tns:ISystemService___SSC_Powermeter_SetUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_SetUnitResponse" message="tns:ISystemService___SSC_Powermeter_SetUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_Powermeter_GetUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_GetUnit" message="tns:ISystemService___SSC_Powermeter_GetUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_GetUnitResponse" message="tns:ISystemService___SSC_Powermeter_GetUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_Powermeter_SetRange">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_SetRange" message="tns:ISystemService___SSC_Powermeter_SetRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_SetRangeResponse" message="tns:ISystemService___SSC_Powermeter_SetRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="__SSC_Powermeter_GetRange">
      <wsdl:input wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_GetRange" message="tns:ISystemService___SSC_Powermeter_GetRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISystemService/__SSC_Powermeter_GetRangeResponse" message="tns:ISystemService___SSC_Powermeter_GetRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISystemService" type="tns:ISystemService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISystemService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="__SSC_Powermeter_ZeroOutput">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_Powermeter_ZeroOutput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_Powermeter_Read">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_Powermeter_Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_LogInfo">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_LogInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_LogError">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_LogError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_LogWarn">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_LogWarn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ShowMessageBox">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ShowMessageBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ShowWarningMessageBox">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ShowWarningMessageBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ShowErrorMessageBox">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ShowErrorMessageBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ShowYesNoMessageBox">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ShowYesNoMessageBox" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ShowImage">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ShowImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ChangeSignalTowerLight">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ChangeSignalTowerLight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_TurnOffSignalTowerBuzzer">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_TurnOffSignalTowerBuzzer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_Connect">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_Disconnect">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_WriteVariable">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_WriteVariable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ReadVariable">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ReadVariable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_SavePosition">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_SavePosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ReadPresetPosition">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ReadPresetPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_SequenceStop">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_SequenceStop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetLMUList">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_GetLMUList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetAxisList">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_GetAxisList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetAxisListInLMU">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_GetAxisListInLMU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetMEQList">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_GetMEQList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_Home">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_Home" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_MeasurableDevice_Read">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_MeasurableDevice_Read" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_MoveAxis">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_MoveAxis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_MoveToPresetPosition">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_MoveToPresetPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_UpdatePresetPosition">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_UpdatePresetPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetAbsPosition">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_GetAbsPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetRelPosition">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_GetRelPosition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ServoOn">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ServoOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ServoOff">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ServoOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ResetAxisFault">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ResetAxisFault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_MotionStop">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_MotionStop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_EmergencyStop">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_EmergencyStop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetAxisStatus">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_GetAxisStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_GetLmuStatus">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_GetLmuStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_AutoTouchByMEQ">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_AutoTouchByMEQ" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_AutoTouchByAin">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_AutoTouchByAin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_AutoTouchByDin">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_AutoTouchByDin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_CommonPluginExecute">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_CommonPluginExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_EquipmentPluginControl">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_EquipmentPluginControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_EquipmentPluginExecute">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_EquipmentPluginExecute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_EquipmentPluginWait">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_EquipmentPluginWait" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ReadDI">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ReadDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_ReadDO">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_ReadDO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_WriteDO">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_WriteDO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_WaitDI">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_WaitDI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoBlindSearch">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoBlindSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoBlindSearchWithParam">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoBlindSearchWithParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoRectAreaScan">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoRectAreaScan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoSlowRectAreaScan">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoSlowRectAreaScan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoFast1D">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoFast1D" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoFastND">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoFastND" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoFastAngleTuning">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoFastAngleTuning" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoFastCentralAlign">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoFastCentralAlign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoFastAngleTuningWithParam">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoFastAngleTuningWithParam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoProfile1D">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoProfile1D" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoProfileND">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoProfileND" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoAngleTuning">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoAngleTuning" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoCentralAlign">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoCentralAlign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_DoHillClimb">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_DoHillClimb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_Powermeter_SetUnit">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_Powermeter_SetUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_Powermeter_GetUnit">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_Powermeter_GetUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_Powermeter_SetRange">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_Powermeter_SetRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__SSC_Powermeter_GetRange">
      <soap12:operation soapAction="http://tempuri.org/ISystemService/__SSC_Powermeter_GetRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemServiceRemoteApisWrapper">
    <wsdl:port name="NetTcpBinding_ISystemService" binding="tns:NetTcpBinding_ISystemService">
      <soap12:address location="net.tcp://localhost:15143/APAS/USRCI" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:15143/APAS/USRCI</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>